@model HomeViewModel

<partial name="_Carousel"/>

<h2>Os Jogos Preferidos da Semana</h2>


<div class="row">	
	@foreach (var jogo in Model.JogosPreferidos)
	{
		<partial name ="_JogosResumo" for = "@jogo"/>
	}


</div>