@model JogosListViewModel

	<div>
		<h2>
			@Model.CategoriaAtual
		</h2>
	</div>

	<div class= "container-fluid">
	<div class="row">
	@foreach (var jogos in Model.Jogos)
	{
		<partial name ="_JogosResumo" for="@jogos"/>
	}
	</div>
</div>